<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="gap: 25px;">
        <div style="display: flex; justify-content: space-between;">
            <h1>
                List User:
            </h1>
            <div style="display: flex; justify-content: center; align-items: center;">
                <a href="/create-user">Create a user</a>
            </div>
        </div>
        <br />
        <div>
            <table border="1" style="width: 100%; text-align: left; border-collapse: collapse;">
                <thead>
                    <th>Id User</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <!-- <tr>
                        <td>1</td>
                        <td>John Doe</td>
                        <td>johndoe@example.com</td>
                        <td>123 Main St, Cityville</td>
                        <td><button>Delete</button></td>
                    </tr> -->
                    <% users.forEach(function (user) { %>
                        <tr>
                            <td>
                                <%= user.id %>
                            </td>
                            <td>
                                <%= user.fullName %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <%= user.address %>
                            </td>
                            <td>
                                <form action="delete-user/<%= user.id %>" method="POST" style="display: inline;">
                                    <button type="submit">Delete</button>
                                </form>
                                <form action="view-user/<%= user.id %>" method="POST" style="display: inline;">
                                    <button type="submit">View</button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>